header {
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  .header__left-side {
    float: left;
    width: 50%;
  }
  .header__right-side {
    float: right;
    width: 50%;
    text-align: right;
    .fa-battery-full {
      font-size: 14px;
      padding-right: 5px;
      color: #fff;
    }
  }
}

.screen {
  height: 100vh;
}
.clock {
  color: #fff;
}
.screen__loading {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100vh;
  .fa-apple {
    color: #fff;
  }
  .screen__icon {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #progressbar{
    height: 2px;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
    width: 200px;
    background: rgba(159, 159, 159, 0.5);
    border-radius: 10px;
  }
  #loading{
    transition: all 500ms ease;
    height: 2px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    position: absolute;
    display: inline-block;
    animation: load 5s ease infinite;
  }
  #load{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
  }

  @keyframes load{
    0%{
      width: 2%;
    }
    10%{
      width: 8%;
    }
  }  
}

.main-login-form {
  position: relative;
  height: 100%;
  z-index: 1;
  .main-login-form__avatar {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(159, 159, 159, 0.7);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.main-login-form__center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  p {
    color: #fff;
    font-weight: bold;
  }
}

.screen__blur {
    position: fixed;
    /* width: 100%; */
    z-index: -1;
    left: -10px;
    right: 0;
    bottom: -1px;
    height: 100vh;
    background-image: url('./images/screen_main_bg.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(3px);  
}

.main-login-form__submit-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(159, 159, 159, 0.7);
  border-radius: 50%;
  &:after {
    content: "";
    border: solid #444;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);    
    padding: 4px;
    margin-left: 3px;
    margin-top: 10px;
  }
}